* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, poppins;
}

section {
    position: relative;
    background: #7e7373;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .card {
    position: relative;
    width: 400px;
    height: 400px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}

section .card .content,
section .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .card .imgtext {
    height: 120px;
    width: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-top: 10px;
}

section .card .imgtext img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .card h3 {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color: #1e9275;
}

section .card h3 span {
    font-weight: 400;
    color: #777;
    text-align: center;
}

section .card .sci {
    display: flex;
    position: relative;
    margin-top: 15px;
    justify-content: center;
}

section .card .sci li {
    list-style: none;
}

section .card .sci li a {
    position: relative;
    width: 50px;
    height: 50px;
    background: #2e23d1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin: 0 10px
}