* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, poppins;
}

section {
    position: relative;
    background: #031321;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s;
}

section .card {
    position: relative;
    width: 400px;
    height: 400px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}

section .card .content,
section .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .card .imgtext {
    height: 120px;
    width: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-top: 10px;
}

section .card .imgtext img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .card h3 {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color: #1e9275;
}

section .card h3 span {
    font-weight: 400;
    color: #777;
    text-align: center;
}

section .card .sci {
    display: flex;
    position: relative;
    margin-top: 15px;
    justify-content: center;
}

section .card .sci li {
    list-style: none;
}

section .card .sci li a {
    position: relative;
    width: 50px;
    height: 50px;
    background: #c6c4e0ad;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 10px;
    transition: 0.4s;
}

section .card .sci li a:hover {
    color: darkred;
}

section .card .sci li a .fa {
    position: relative;
    z-index: 1000;
}

section .card .sci li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #534bbb;
    border-radius: 50%;
    transition: 0.2s;
    transform: scale(0);
}

section .card .sci li a:hover:before {
    transform: scale(1);
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #dbb1b1ab;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle:before {
    content: '\f186';
    font-family: fontAwesome;
    color: #1e9275;
}

section.dark .toggle:before {
    content: '\f185';
}

section.dark {
    background: #000;
}

section.dark .card {
    background: #2b29297a;
}